<!doctype html>
<html lang="en">
<head>
    <title>Logout</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" />
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

    </style>

</head>
<body class="text-center">

    {{if not .ConsentChallenge}}
        <div class="text-center alert alert-danger" role="alert">
            <b>{{ .ErrorTitle }}</b>
            <br>
            {{ .ErrorContent }}
        </div>
    {{end}}

</body>
</html>
